/*
.my-photo {
    width: 50vh;
}
*/

/*
.navbar-orange a {
    color: rgba(203, 110, 22, 1);
}

* * {
    border 1px solid red;
*/
:root {
--orange: rgba(241, 59, 22, 0.60);
--orange-lighter: rgba(241, 59, 22, 0.50);
}

body {
    background-color: rgba(230, 230, 231);
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

a, p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

strong {
    font-weight: 700;
}

.light-link {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.light-link:hover {
    color: black;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgba(203, 110, 22, 1);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(203, 110, 22, .75);
}

.dropdown-menu {
    background-color: rgba(52, 58, 64, 0.5);
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(241, 59, 22, 0.50);
    color: #fff;
}

.jumbo-title {
    margin-top: 20vh;
    padding: 20px 100px;
    
}

.tran-back {
    padding: 10px 30px;
    background-color: var(--orange);
    border-radius: 110px;
}

@media (max-width: 1200px) { 
    .tran-back {
    padding: 10px 10px;
    border-radius: 50px; 
}
}

.tran-back-lower {
    padding: 10px 30px;
    background-color: var(--orange-lighter);
    border-radius: 110px;
    text-align: justify;
}

.jumbo-image {
    background-image: url("../images/me-lochness-01.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 480px) { 
    .jumbo-image {
        height: 58vh;
}
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    border-top: 4px solid var(--orange);
}

@media (max-width: 1199px) { 
.card {
    width: 100% !important;
}
}

.gap-1 {
    gap: 20px;
}

.main-section {
    padding: 0 100px;
    height: 150px;
    
}



footer {
    height: 100px;
    background-color: rgba(52, 58, 64, 1);
    color: #fff;
    margin-top: 50px;
}
